.jumbotron {
  margin-top: 3%;
  background-image: url(../img/jumboPizza.webp);
  background-size: cover;
  text-align: center;
  background-position: center;
  background-position-y: 25%;
  color: #e00808;
}
